@model IEnumerable<Livraria.Models.Entities.Usuario>
@{
    ViewData["Title"] = "Home Page";
}


<div>
    @foreach (var item in Model)
    {
        <div>
            @item.UsuarioNome
        </div>
        <div>
            @item.UsuarioEndereco
        </div>
        
    }
</div>