@model IEnumerable<Livraria.Models.Entities.Livro>
@{
    ViewData["Title"] = "Home Page";
}


<div>
    @{
        int iContador = 0;

        foreach (var item in Model)
        {
            if (iContador > 10)
            {
                break;
            }
            else
            {
                <div>
                    @Html.DisplayFor(m => item.LivroNome)
                </div>
                <div>
                    @Html.DisplayFor(m => item.LivroPreco)
                </div>
                <div>
                    @Html.DisplayFor(m => item.LivroAnoPublicacao)
                </div>

                iContador = +1;
            }

        }
    }
</div>